.footer {
    background: #152f4f;
    color: white;
}

ul {
    list-style-type: none;
}

li a {
    color: white;
    transition: color 0.2s;
}

a:hover {
    text-decoration: none;
    color: #4180cb;
}

i {
    font-size: 25px;
}

a {
    color: white;
    transition: color 0.2s;
}
i {
    font-size: 18px;
}

.copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}